*.pyc
*.swp
__pycache__/*
secret/
logs/

# Docker Compose testing directories
data/
config/

.tox
discord_bot/.tox
discord_bot.egg-info/
.vs/
build/
docker/.env
.coverage
htmlcov/
.cache
*.db
CLAUDE.md
claude-todos.md
.venv