alembic==1.18.0
async-timeout==5.0.1
beautifulsoup4==4.14.3
boto3==1.42.24
click==8.3.1
croniter==6.0.0
discord.py==2.6.4
dappertable @ git+https://github.com/tnoff/dappertable.git@v0.2.4
google-api-python-client==2.187.0
moviepy==2.2.1
pydantic==2.12.5
pydantic-yaml==1.6.0
opentelemetry-sdk==1.39.1
# Dont pin these so dependabot updates are easier
opentelemetry-instrumentation-requests
opentelemetry-instrumentation-sqlalchemy
opentelemetry-instrumentation-logging
opentelemetry-exporter-otlp
pathlib==1.0.1
PyNaCl==1.6.2
pyaml-env==1.2.2
psutil==7.2.1
pytz==2025.2
requests==2.32.5
spotipy==2.25.2
SQLAlchemy==2.0.45
# Version pinned in other file
yt-dlp
ytmusicapi==1.11.4
