freezegun==1.5.5
pylint==3.3.8
pytest==8.4.2
pytest-asyncio==1.2.0
pytest-cov==7.0.0
pytest-freezegun==0.4.2
pytest-mock==3.15.1
requests-mock==1.12.1
# Currently required for pytest-freezegun, can remove once they have that fixed
setuptools==80.9.0
tox==4.27.0
