freezegun==1.5.3
pylint==3.3.7
pytest==8.4.1
pytest-asyncio==1.1.0
pytest-cov==6.2.1
pytest-freezegun==0.4.2
pytest-mock==3.14.1
requests-mock==1.12.1
# Currently required for pytest-freezegun, can remove once they have that fixed
setuptools==80.9.0
tox==4.28.3
