general:
  discord_token: !ENV ${DISCORD_TOKEN}
  sql_connection_statement: !ENV postgresql+psycopg2://discord:${POSTGRES_PASSWORD}@${POSTGRES_HOST}/discord
  intents:
    - message_content

  logging:
    log_file: /var/log/discord/discord.log
    log_file_count: 2
    log_file_max_bytes: 1048576

  include:
    music: true
    markov: true
    urban: true

music:
  server_playlist_max: 512
  queue_max_size: 32
  max_song_length: 1800
  download_dir: /opt/discord/downloads
  max_cache_files: 1024
  spotify_client_id: !ENV ${DISCORD_SPOTIFY_CLIENT_ID}
  spotify_client_secret: !ENV ${DISCORD_SPOTIFY_CLIENT_SECRET}
  youtube_api_key: !ENV ${DISCORD_YOUTUBE_API_KEY}
  enable_audio_processing: true
  enable_cache_files: true