name: CD

on:
  pull_request:
    types:
    - closed

jobs:
  tag_build:
    uses: tnoff/github-workflows/.github/workflows/tag.yml@f21247582b270f3d3259cf6b7233f4c7538c1a1b
    with:
      version_file: ./VERSION
  check_labels:
    uses: tnoff/github-workflows/.github/workflows/check-pr-labels.yml@349eaedd1703a169a996a3ec29b08fb5ffcd528d
    with:
      required_labels: 'build-docker'
      require_all_labels: true
      require_merged: true
  build:
    needs: check_labels
    if: needs.check_labels.outputs.conditions_met == 'true'
    uses: tnoff/github-workflows/.github/workflows/ocir-push.yml@6f58aa80ca7261a15024f6406902a3a29ff60484
    with:
      image_name: ${{ vars.OCI_REPO_NAME }}
      platforms: linux/amd64,linux/arm64
    secrets:
      oci_registry: ${{ secrets.OCI_REGISTRY }}
      oci_username: ${{ secrets.OCI_USERNAME }}
      oci_password: ${{ secrets.OCI_PASSWORD }}
      oci_namespace: ${{ secrets.OCI_NAMESPACE }}